DB_HOST=localhost
DB_PORT=5433
DB_NAME=smarthome_db
DB_USER=smarthome
DB_PASS=parola_db_puternica

MQTT_URL=mqtt://localhost:1883
MQTT_USER=nestjs_api
MQTT_PASS=parola_mqtt_nestjs

JWT_SECRET=un_secret_foarte_lung_si_random_minim_32_caractere
JWT_EXPIRES=7d

PORT=3000
NODE_ENV=production
